@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Domain.Entities.StudentViewModel>

@if(TempData["msg"] != null)
{   
    <center><h3 class="text-success">@TempData["msg"];</h3></center>
}

<h1>Danh sach sinh vien</h1>

<a asp-controller="Student" asp-action="Create" class="btn btn-primary mt-2 mb-2 mx-2">Them sinh vien</a>

<table border="1" class="p-5">
    <tr class="p-2">
        <th>ID</th>
        <th>Ten</th>
        <th>Lop</th>
        <th colspan="2">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="p-2">
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.classID</td>
            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Sua</a>
                <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Xoa</a>
            </td>
        </tr>
    }
</table>
